<InputText @bind-value="item.Name" />
<InputTextArea @bind-value="item.Details" />
<InputDate @bind-value="item.StartDate" />
<InputDate @bind-value="item.EndDate" />

<InputSelect @bind-value="item.Status">
    @foreach (var status in Enum.GetValues<TaskState>())
    {
        <option value="@status">@status</option>
    }
</InputSelect>

<InputNumber @bind-value="item.CommercialAmount" />

<InputSelect @bind-value="item.PaymentStatus">
    @foreach (var payment in Enum.GetValues<PaymentState>())
    {
        <option value="@payment">@payment</option>
    }
</InputSelect>

<InputDate @bind-value="item.ReceivedDate" />
